/* @import '/src/styles/css/Variables.css';
@import '/src/styles/css/Header.css';
@import '/src/styles/css/Hero.css';
@import '/src/styles/css/Intro.css';
@import '/src/styles/css/Weddings.css';
@import '/src/styles/css/Gallery.css';
@import '/src/styles/css/Footer.css';
@import '/src/styles/css/Cards.css'; */


.body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-theme-color); 
  }
  